#city-name, #city-temp {
    float:left;
}

#city-name, #city-temp, #error-msg, #city-humidity, #city-windspeed {
    font-size: 30px;
    color: white;
    text-align: left;
    margin: 1%;
}

#city-icon {
    width: 15%;
    height: 15%;
    margin-right: 1%;
    margin-left: -2%;
}

#temperature-icon, #humidity-icon, #windspeed-icon {
    width: 15%;
    height: 15%;
}

#windspeed-icon {
    padding-right: 2%;
}

#error-msg {
    font-size: 2vw;
}