.App {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-image: url("weather-background.png");
  background-size: cover;
}

@media only screen and (max-width: 320px) {
  #custom-search-input {
    width: 70%;
    margin-left: 20%;
    margin-top: 10%;
  }

  .city-info, #city-search-result {
    margin-left: 10%;
    margin-top: 5%;
  }

  .city-weather-info {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 768px) {
  #custom-search-input {
    width: 70%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .city-info, #city-search-result {
    margin-left: 10%;
    margin-top: 5%;
  }

  .city-weather-info {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  #custom-search-input {
    width: 70%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .city-info, #city-search-result {
    margin-left: 10%;
    margin-top: 5%;
  }

  .city-weather-info {
    margin-left: 10%;
  }
}

@media only screen and (min-width: 1200px) {
  #custom-search-input {
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
  }

  .city-info, #city-search-result {
    margin-left: 15%;
    margin-top: 2%;
  }

  .city-weather-info {
    margin-left: 15%;
  }
}