.navbar {
    background-color: dodgerblue;
    z-index: 2;
}

.navbar-header {
    margin-right: 0;
}

.navbar > .container {
    margin: 0;
    padding:0;
}

#brand-name > a {
    color:white;
}

.header-item {
    display: inline-block;
}

#navbar-logo > img {
    height:100%;
    width:100%;
}

#navbar-logo {
    width:25%;
    height:100%;
}

.navbar-brand {
    padding:0;
}

.navbar {
    height: 50px;
}

#burger-menu {
    background-color: dodgerblue;
    border-color: white;
}